{% extends "../base.html" %}


{% block content %}

{{ error }}

<form class="card card-body m-auto container my-4" method="post">
    <h1 class="pb-3 fw-bold">Iniciar sesion</h1>
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Ingrese su usuario</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Ingrese su contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <button class="btn btn-primary">Iniciar sesion</button>
</form>

{% endblock %}
